@media (max-width: 1199px) {

  /* header */
  .header__top {
    display: none;
  }

  .header__catalog-container {
    justify-content: space-between;
  }

  .header__menu {
    display: none;
  }

  .header__catalog-btn {
    display: block;
  }

  /* slider-top */
  .slider-top__content {
    margin-left: 100px;
  }

  .slider-top__images {
    margin-right: 100px;
  }
}

@media (max-width: 991px) {

  /* slider-top */
  .slick-arrow {
    display: none !important;
  }

  .slider-top__content {
    margin-left: 24px;
  }

  .slider-top__images {
    margin-right: 24px;
  }

  /* collection */
  .collection__items {
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .collection__item-1,
  .collection__item-2,
  .collection__item-3 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 325px;
  }

  .collection__item-1 {
    background-image: url(../img/k-fon-1.png);
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .collection__item-2 {
    background: url(../img/k-fon-2.png);
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .collection__item-3 {
    background: url(../img/k-fon-3.png);
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .collection__item-4,
  .collection__item-5,
  .collection__item-6 {
    display: none;
  }
}

@media (max-width: 767px) {

  /* header */
  .menu-btn {
    display: none;
  }

  .basket-btn {
    display: none;
  }

  .header__content {
    padding: 12px 24px;
  }

  .header__logo-link {
    width: 200px;
  }

  .menu-btn-mob {
    display: block;
  }

  .basket-btn-mob {
    display: block;
  }

  /* slider-top */
  .slider-top__inner {
    display: flex !important;
    justify-content: space-between;
    flex-direction: column;
    padding: 24px 0;
  }

  .slider-top__content {
    margin: 0 24px;
    max-width: 100%;
    align-items: center;
  }

  .slider-top__images {
    padding-top: 32px;
    margin: 0 auto;
    max-width: 70%;
  }

  .slider-top__title {
    font-size: 24px;
    text-align: center;
    font-style: normal;
    line-height: 30px;
    letter-spacing: 0.03em;
  }

  .slider-top__text {
    font-size: 14px;
    text-align: center;
  }

  /* collection */
  .title-box {
    padding-top: 60px;
    background: #fff;
  }

  .collection__items {
    background: #fff;
    padding: 0;
  }
}

@media (max-width: 575px) {

  /* section-3 */
  .section-3__bg {
    padding-top: 57px;
    padding-bottom: 50px;
  }

  .section-3__images {
    width: 65px;
  }

  .section-3__title {
    padding-top: 20px;
    font-size: 28px;
    line-height: 34px;
  }

  .section-3__text {
    padding-top: 28px;
    max-width: 275px;
    font-size: 14px;
    line-height: 22px;
  }

  #more {
    display: none;
  }

  #section-3__btn {
    display: inline-block;
  }
}