/* reset ------------------------------------------------------------------------------------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* connecting fonts -------------------------------------------------------------------------------*/
@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/Gotham_Pro.ttf");
}

body {
  font-family: "Gotham Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #262626;
  background: #f5f5f5;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}

/* header -----------------------------------------------------------------------------------------*/
.header {
  font-size: 13px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.header__top {
  padding: 36px 24px 28px;
}

.header__top-list {
  display: flex;
  justify-content: center;
}

.header__top-item+.header__top-item {
  padding-left: 60px;
}

.header__location,
.header__phone,
.header__authorization,
.header__favorites,
.basket-btn__text,
.basket-btn__price,
.header__menu-link,
.header__search {
  color: #262626;
}

.header__location,
.header__phone,
.header__authorization,
.header__favorites {
  padding-left: 24px;
  position: relative;
}

.header__location::after {
  content: "";
  width: 16px;
  height: 21px;
  position: absolute;
  background-image: url(../img/location.svg);
  top: 2px;
  left: 0;
}

.header__phone::after {
  content: "";
  width: 17px;
  height: 19px;
  position: absolute;
  background-image: url(../img/phone.svg);
  top: 2px;
  left: 0;
}

.header__authorization::after {
  content: "";
  width: 19px;
  height: 25px;
  position: absolute;
  background-image: url(../img/entrance.svg);
  top: 0px;
  left: 0;
}

.header__favorites::after {
  content: "";
  width: 20px;
  height: 22px;
  position: absolute;
  background-image: url(../img/favorites.svg);
  top: 2px;
  left: 0;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 26px 48px;
}

.header__btn-main {
  display: none;
}

.menu-btn-mob {
  display: none;
  cursor: pointer;
  width: 22px;
  height: 14px;
  position: relative;
}

.menu-btn-mob::after {
  content: "";
  width: 22px;
  height: 14px;
  position: absolute;
  background-image: url(../img/menu-mini.svg);
}

.menu-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-btn__images {
  width: 48px;
  height: 48px;
  border: 2px solid #dfa94a;
  border-radius: 50%;
  position: relative;
}

.menu-btn__images::after {
  content: "";
  width: 22px;
  height: 14px;
  position: absolute;
  background-image: url(../img/menu.svg);
  top: 15px;
  left: 11px;
}

.menu-btn__text {
  padding-left: 14px;
  color: #dfa94a;
  display: inline-block;
}

.header__logo-link {
  padding-top: 8px;
}

.header__btn-location {
  display: none;
}

.basket-btn-mob {
  display: none;
  cursor: pointer;
  width: 16px;
  height: 21px;
  position: relative;
}

.basket-btn-mob::after {
  content: "";
  width: 16px;
  height: 21px;
  position: absolute;
  background-image: url(../img/location-mini.svg);
}

.basket-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.basket-btn__text {
  padding-top: 0px;
  padding-right: 14px;
}

.basket-btn__images {
  width: 48px;
  height: 48px;
  border: 2px solid #e9e9e9;
  border-radius: 50%;
  position: relative;
}

.basket-btn__images::after {
  content: "";
  width: 19px;
  height: 26px;
  position: absolute;
  background-image: url(../img/basket.svg);
  top: 8px;
  left: 13px;
}

.basket-btn__quantity-of-goods {
  background-color: #a86d06;
  color: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -6px;
  right: -6px;
  padding: 1px 0 0 1px;
  text-align: center;
  line-height: 20px;
  z-index: 2;
}

.basket-btn__price {
  padding: 0 0 0 14px;
}

.header__catalog {
  background-color: #fff;
}

.header__catalog-container {
  font-weight: 700;
  display: flex;
  justify-content: center;
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
  padding: 12px 0 11px;
  margin: 0 24px;
  background: #fff;
}

.header__catalog-btn {
  display: none;
  cursor: pointer;
}

.header__menu-btn {
  display: none;
}

.header__menu {
  display: flex;
  justify-content: center;
}

.header__menu-item+.header__menu-item {
  padding-left: 24px;
}

.header__search {
  padding-left: 48px;
  position: relative;
}

.header__search::after {
  content: "";
  width: 19px;
  height: 19px;
  position: absolute;
  background-image: url(../img/search.svg);
  top: 3px;
  left: 24px;
}

/* slider-top -------------------------------------------------------------------------------------*/
.slider-top__inners {
  padding: 24px;
  background-color: #fff;
}

.slider-top__inner {
  display: flex !important;
  justify-content: space-between;
  background-color: #efefef;
  padding: 36px 0;
}

.slider-top__content {
  margin-left: 160px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.slider-top__discont {
  font-size: 13px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  font-weight: 700;
  color: rgba(38, 38, 38, 0.5);
  padding: 0px 0 15px 0;
}

.slider-top__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.03em;
  padding-bottom: 15px;
}

.slider-top__text {
  font-family: "PT Sans", sans-serif;
  padding-bottom: 30px;
}

.slider-top__link {
  font-weight: 700;
  font-size: 13px;
  line-height: 28px;
  padding: 9px 30px 5px 43px;
  border: 1px solid #7a7a7a;
  display: inline-block;
  position: relative;
  outline: none;
  color: #262626;
}

.slider-top__link::after {
  content: "";
  width: 12px;
  height: 6px;
  position: absolute;
  background-image: url(../img/go-link.svg);
  top: 19px;
  left: 20px;
}

.slider-top__images {
  max-width: 440px;
  margin-right: 210px;
}

/* slick-slider ---------------------------------------------------------------------------------- */
/* Точки (булиты) */
.slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0;
  height: 30px;
  bottom: 40px;
  right: 50%;
  position: absolute;
}

.slick-dots li {
  list-style: none;
  margin: 0 10px;
}

/* Элемент точки */
.slick-dots li {
  z-index: 3;
  font-size: 0;
  width: 38px;
  height: 2px;
  border: none;
  background: rgba(38, 38, 38, 0.3);
  margin-bottom: 15px;
  outline: none;
}

/* Активная точка */
.slick-dots li.slick-active {
  background-color: #262626;
  z-index: 10;
}

/* Стрелка */
.slick-arrow {
  position: absolute;
  top: 50%;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid rgba(38, 38, 38, 0.3);
  z-index: 3;
  outline: none;
}

.slick-prev:before,
.slick-next:before {
  content: ' ';
}

/* Стрелка влево */
.slick-arrow.slick-prev {
  left: 48px;
  background: url(../img/left.svg) center no-repeat;
}

/* Стрелка вправо */
.slick-arrow.slick-next {
  right: 48px;
  background: url(../img/right.svg) center no-repeat;
}

.slick-dotted.slick-slider {
  margin: 0 !important;
}

/* section-3 ------------------------------------------------------------------------------------- */
.section-3__inner {
  background-color: #fff;
  padding: 0 24px 24px 24px;
}

.section-3__bg {
  background: url(../img/fon-1.svg);
  padding-top: 100px;
  padding-bottom: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-3__title,
.section-3__text {
  max-width: 676px;
  text-align: center;
}

.section-3__title {
  padding-top: 22px;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  letter-spacing: 0.03em;
}

.section-3__text {
  font-family: "PT Sans", sans-serif;
  padding-top: 20px;
}

.section-3__three_dots {
  padding-top: 14px;
}

#more {
  display: inline;
}

#section-3__btn {
  display: none;
  margin-top: 17px;
  cursor: pointer;
  background: none;
  border: none;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  color: #A86D06;
}

/* collection ------------------------------------------------------------------------------------ */
.collection__inner {
  padding: 0 24px 24px 24px;
  background: #fff;
}

.title-box {
  background: #F9F9F9;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.title-box__images {
  width: 19px;
  height: 34px;
  background: url(../img/k.svg) center no-repeat;
}

.title-box__title {
  padding-top: 22px;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  letter-spacing: 0.03em;
}

.title-box__symbol {
  width: 8px;
  height: 8px;
  background: url(../img/dot.svg) center no-repeat;
  margin-bottom: 30px;
}

.collection__items {
  background: #F9F9F9;
  padding: 0 24px 100px 24px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 311px 311px 311px 311px;
  column-gap: 24px;
  row-gap: 24px;
}

.collection__item-1 {
  background: url(../img/k-fon-1.png) center no-repeat;
  grid-column: 1/2;
  grid-row: 1/3;
}

.collection__item-2 {
  background: url(../img/k-fon-2.png) center no-repeat;
  grid-column: 2/3;
  grid-row: 1/2;
}

.collection__item-3 {
  background: url(../img/k-fon-3.png) center no-repeat;
  grid-column: 2/3;
  grid-row: 2/3;
}

.collection__item-4 {
  background: url(../img/k-fon-4.png) center no-repeat;
  grid-column: 1/2;
  grid-row: 3/4;
}

.collection__item-5 {
  background: url(../img/k-fon-5.png) center no-repeat;
  grid-column: 1/2;
  grid-row: 4/5;
}

.collection__item-6 {
  background: url(../img/k-fon-6.png) center no-repeat;
  grid-column: 2/3;
  grid-row: 3/5;
}

.collection__item-1,
.collection__item-2,
.collection__item-3,
.collection__item-4,
.collection__item-5,
.collection__item-6 {
  position: relative;
}

.collection__item-title {
  position: absolute;
  top: 24px;
  left: 24px;
  font-weight: bold;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.02em;
  color: #FFF;
}

.collection__item-price {
  font-family: "PT Sans", sans-serif;
  position: absolute;
  bottom: 24px;
  left: 24px;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #FFF;
}

.collection__item-link {
  position: absolute;
  top: 24px;
  right: 24px;
  background: url(../img/k-link.svg)center no-repeat;
  width: 32px;
  height: 32px;
}

.collection__item-text {
  font-family: "PT Sans", sans-serif;
  position: absolute;
  bottom: 24px;
  right: 24px;
  font-size: 13px;
  line-height: 18px;
  text-align: right;
  letter-spacing: 0.02em;
  color: #FFF;
}

/* section-5 ------------------------------------------------------------------------------------- */

.section-5__inner-pad {
  background: #fff;
  padding: 0 24px 24px 24px;
}

.section-5__inner {
  background: #F2EADB;
  height: 544px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.section-5__img {
  background: url(../img/feedback.png) no-repeat;
  width: 524px;
  height: 599px;
  position: absolute;
  top: -19px;
  left: 77px;
}

.section-5__text {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 544px;
  padding-top: 100px;
  margin-right: 170px;
}

.section-5__text_1 {
  font-weight: bold;
  font-size: 13px;
  line-height: 26px;
  letter-spacing: 0.08em;
  color: rgba(38, 38, 38, 0.5);
  padding-bottom: 20px;
}

.section-5__text_2 {
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.03em;
  padding-bottom: 20px;
}

.section-5__text_3 {
  font-family: "PT Sans", sans-serif;
  line-height: 26px;
  letter-spacing: 0.02em;
  padding-bottom: 30px;
}

.section-5__form {
  display: flex;
}

.section-5__form input {
  outline: none;
  height: 45px;
  width: 365px;
  padding: 0 10px 0 0;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #7A7A7A;
}

.section-5__form button {
  height: 45px;
  width: 162px;
  margin-left: 24px;
  line-height: 2px;
  padding: 5px 20px 5px 43px;
  border: none;
  cursor: pointer;
  outline: none;
  background: none;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 28px;
  letter-spacing: 0.02em;
  position: relative;
  border: 1px solid #7A7A7A;
}

.section-5__form button::after {
  content: "";
  width: 12px;
  height: 6px;
  position: absolute;
  background-image: url(../img/go-link.svg);
  top: 19px;
  left: 20px;
}

/* section-6 ------------------------------------------------------------------------------------- */
.section-6__inner {
  background-color: #fff;
  padding: 0 24px 24px 24px;
}

.section-6__bg {
  background: url(../img/fon-2.svg);
  padding-top: 100px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-6__title {
  max-width: 816px;
  text-align: center;
  padding-top: 63px;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  letter-spacing: 0.03em;
}

.section-6__text {
  max-width: 676px;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  padding-top: 20px;
}

.section-6__three_dots {
  padding-top: 15px;
  padding-bottom: 99px;
}

#more-1 {
  display: inline;
}

#section-6__btn {
  display: none;
  margin-top: 17px;
  cursor: pointer;
  background: none;
  border: none;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  color: #A86D06;
}

/* services -------------------------------------------------------------------------------------- */
.services__inner {
  padding: 0 24px 24px 24px;
  background-color: #fff;
}

.services__inner-bg {
  background: #F9F9F9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.services__title-box {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.services__title-img {
  display: block;
  height: 34px;
  width: 22px;
  background: url(../img/j.svg) center no-repeat;
}

.services__text {
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.03em;
}

.services_dots_img {
  height: 8px;
  width: 8px;
  background: url(../img/dot_gold.svg) center no-repeat;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.services__items {
  display: flex;
  justify-content: space-between;
  min-height: 650px;
  padding: 0 24px 30px 24px;
}

.services__item {
  background-color: white;
  position: relative;
  width: 33.3%;
  padding-bottom: 80px;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.07);
}

.services__item img {
  width: 100%;
}

.services__item+.services__item {
  margin-left: 24px;
}

.services__item-name-i {
  margin-top: 27px;
  line-height: 22px;
  padding: 0 40px;
  letter-spacing: 0.02em;
  color: #A86D06;
}

.services__item-date {
  font-size: 13px;
  line-height: 22px;
  padding: 0 40px;
  letter-spacing: 0.02em;
  color: #7A7A7A;
}

.services__item-title {
  margin-top: 15px;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  padding: 0 40px;
  letter-spacing: 0.02em;
}

.services__item-text {
  margin-top: 25px;
  font-family: "PT Sans", sans-serif;
  padding: 0 40px;
  letter-spacing: 0.02em;
}

.services__item-link {
  width: 400px;
  height: 26px;
  margin-top: 15px;
  font-weight: bold;
  padding: 0 40px;
  letter-spacing: 0.02em;
  color: #A86D06;
  position: absolute;
  bottom: 40px;
}

.services__btn {
  font-weight: bold;
  font-size: 13px;
  line-height: 28px;
  letter-spacing: 0.02em;
  padding: 11px 57px 9px 57px;
  display: block;
  background: #A86D06;
  border: 1px solid #A86D06;
  text-decoration: none;
  color: #FFFFFF;
  margin-bottom: 100px;
}

/* footer ---------------------------------------------------------------------------------------- */
.footer__section-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 41px 0 31px 0;
  border-bottom: 1px solid #E9E9E9;
}

.fs1__link+.fs1__link {
  padding-left: 15px;
}

.fs1__link img {
  max-width: 31px;
  display: block;
}

.footer__section-2 {
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 30px 24px 45px;
  max-width: 1174px;
}

.fs2__column {
  width: 25%;
}

.fs2__title {
  letter-spacing: 0.02em;
  padding-bottom: 30px;
}

.fs2__column li+li {
  padding-top: 15px;
}

.pad-top {
  padding-top: 56px;
}

.section_link {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  letter-spacing: 0.02em;
  color: #262626;
}

.section_link-1 {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #7A7A7A;
}

.footer__section-3 {
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 0 24px 29px;
  max-width: 1174px;
}

.section_link-2 {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  letter-spacing: 0.02em;
  color: #7A7A7A;
}

.fs3__left a {
  padding-right: 15px;
}

.border-top {
  border-top: 1px solid #E9E9E9;
}

.footer__section-4 {
  padding: 30px 24px 208px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  max-width: 1174px;
}

.fs4__left {
  width: 25%;
}

.fs4__left img {
  max-width: 135px;
  display: block;
}

.fs4__center {
  width: 50%;
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #7A7A7A;
}

.fs4__right {
  width: 25%;
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: rgba(122, 122, 122, 0.5);
}

